.App {
  text-align: center;
  
}
.Posts{
  display: flex;
  flex-wrap: wrap;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  max-height: 200px;
  max-width: 100%;
  margin: 5px;

}

p {
  text-align: left;
  font-family:'Book Antiqua',serif;
  color: #20B2AA;
}

h1 {
  font-family:'Book Antiqua',serif;
  font-size: 30px;
  color: #20B2AA;
}

div {
  padding: 5px;
 
}

input {
  border: 2px #008B8B solid;
  width: 300px;
}

textarea {
  border: 2px #008B8B solid;
  width: 300px;
}

button {
  color: black;
  border: 2px #008B8B solid ;
}

input::placeholder {
  color: #282c34;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: left;
  font-size: 10px;
}

textarea::placeholder {
  color: #282c34;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: left;
  font-size: 10px;
}



.blogPost {
  border: 1px dotted #008B8B;
  align-items: center;
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #F0F8;
  padding: 15px;
}

.red-image {
  border: 2px red solid;
  margin: 3px;
}